footer {
    padding-left: 240px;
    background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
}

footer.page-footer {
    padding-top: 1px;
}

.page-footer .container {
    margin: 0 auto;
    max-width: 100% !important;
    padding: 0 15px;
    width: 98%;
}

.page-footer .footer-copyright {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.8);
}