<div class="breadcrumb-line header-elements-md-inline">
  <div class="d-flex">
    <div class="breadcrumb">
      <a href="index.html" class="breadcrumb-item">
        <i class="icon-home2 mr-2"></i> Home</a>
      <a href="components_page_header.html" class="breadcrumb-item">Current</a>
      <span class="breadcrumb-item active">Location</span>
    </div>

    <a href="#" class="header-elements-toggle text-default d-md-none">
      <i class="icon-more"></i>
    </a>
  </div>

  <div class="header-elements">
    <div class="breadcrumb">
      <a href="#">
        Actions
        <i class="material-icons">keyboard_arrow_down</i>
      </a>


    </div>
  </div>
</div>