<div class="sidebar" [ngClass]="{'nav-collapsed': isNavVisible}">


  <div class="sidebar-content">
    <!-- User menu -->
    <div class="sidebar-user">
      <div class="card-body">
        <div class="media">
          <div class="mr-3">
            <a href="#">
              <img src="../../assets/images/diving.jpg" width="38" height="38" class="rounded-circle" alt="">
            </a>
          </div>

          <div class="media-body">
            <div class="username">Alex Edwards</div>
            <div class="userlocation">
              <i class="icon-location"></i> &nbsp;Rainhill, UK
            </div>
          </div>

          <div class="ml-3 align-self-center">
            <a href="#" class="text-white">
              <i class="icon-cogs"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- /user menu -->


    <div class="card">
      <ul class="nav nav-sidebar">
        <li class="nav-item-header">Main</li>
        <li class="nav-item">
          <a class="nav-link" routerLink="test" routerLinkActive="active">
            <i class="icon-test"></i>
            <span class="nav-link-title">Test
              <span class="d-block font-weight-normal opacity-50">Unsaved draft event</span>
            </span>

          </a>
        </li>

        <li class="nav-item">

          <a class="nav-link" routerLink="dashboardgrid" routerLinkActive="active">
            <i class="icon-gear"></i>
            <span class="nav-link-title">Dashboard Grid</span>

          </a>
        </li>

        <li class="nav-item">

          <a class="nav-link" routerLink="dashboard2" routerLinkActive="active">
            <i class="icon-gear"></i>
            <span class="nav-link-title">Dashboard2</span>
          </a>
        </li>
        <li class="nav-item">

          <a class="nav-link " routerLink="details" routerLinkActive="active ">
            <i class="icon-gear"></i>
            <span class="nav-link-title ">Accident Details</span>
            <span class="badge badge-primary ml-auto">333</span>
          </a>
        </li>
        <li class="nav-item">

          <a class="nav-link " routerLink="evententer" routerLinkActive="active ">
            <i class="icon-gear"></i>
            <span class="nav-link-title ">Enter Event</span>
            <span class="nav-link-badge green ">1</span>
          </a>
        </li>

        <li class="nav-item-header">Forms</li>
        <li class="nav-item">

          <a class="nav-link" routerLink="form" routerLinkActive="active ">
            <i class="icon-gear"></i>
            <span class="nav-link-title ">Form</span>
            <span class="nav-link-badge green ">1</span>
          </a>
        </li>
        <li class="nav-item-header">Reports / Nonsense</li>
        <li class="nav-item">

          <a class="nav-link" routerLink="task-manager" routerLinkActive="active ">
            <i class="icon-gear"></i>
            <span class="nav-link-title ">Tasks</span>
            <span class="badge badge-primary ml-auto">92</span>
          </a>
        </li>

      </ul>
    </div>
  </div>


















</div>