.page-with-right-sidebar {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    width: 100%;
    min-width: 100%;
    position: relative;
    overflow: hidden;
}
    
    
    
    .top-bg {
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    height: 168px;
 background-color: #03a9f4!important;
    color: #fff!important;
}



.center {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding-right: 0px !important;
    position: relative;
    z-index: 1001;
    padding: 0 32px;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    max-height: 100%;
    text-align: inherit;
    order: 1;
    margin-right: 0px;
}

.header {
    height: 120px!important;
    min-height: 120px!important;
    max-height: 120px!important;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    max-height: 100%;
    place-content: center space-between;
    align-items: center;
    /* background-color: #03a9f4!important; */
    color: #fff!important;
}

.content-card {
  
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);

        /* box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12); */
}

mat-tab-label {
    height: 64px !important;
}

.details {
    padding: 24px;
}

table {
    padding: 16px 8px;
    font-weight: 500;
    color: rgba(0,0,0,.54);
    border-bottom: 1px solid rgba(0,0,0,.12);
    white-space: nowrap;
    align-items: center;
}

table tr:last-child {
    border-bottom: none;
}

.avatar {
    width: 40px;
    min-width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 8px 0 0;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

/* SIDEBAR */

.right-sidebar {
    z-index: 1000;
    display: flex;
   flex-direction: column;
    flex: 1 1 auto;
    width: 240px;
    min-width: 240px;
    max-width: 240px;
    height: auto;
    overflow: hidden;
    position: relative !important;
    order: 2;
    right: 0;
    top: 0;
    bottom: 0
}

.right-sidebar-header {
    height: 200px;
    min-height: 200px;
    max-height: 200px;
} 

 .right-sidebar-content {
    background-color: #fff;
    padding: 24px;
}

.mat-subheader {
    height: 48px;
    line-height: 16px;
    margin: 0;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgba(0,0,0,.54);
        display: flex;
        box-sizing: border-box;
        padding: 16px;
        align-items: center;
}

.mat-list-item {
    display: block;
    height: 48px;
    font-size: 16px;
    color: rgba(0,0,0,.87);
}

.mat-list-item-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
}

.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0,0,0,.12);
} 