<app-page-header></app-page-header>
<app-breadcrumbs></app-breadcrumbs>
<div class="content">
  <div class="page-with-right-sidebar" id="details">
    <div class="top-bg"></div>
    <!-- RIGHT SIDEBAR -->
    <div class="right-sidebar">
      <div class="right-sidebar-header">
        <!-- <h4>WORDS</h4> -->
      </div>
      <div class="right-sidebar-content">
        <h3 class="mat-subheader">Sidebar Demo</h3>

        <div class="mat-list-item">
          <div class="mat-list-item-content">
            <span>Sidebar Item</span>
          </div>
        </div>
        <div class="mat-divider"></div>
      </div>
    </div>



    <div class="center">
      <div class="header">
        <h2>Accident Details</h2>
      </div>
      <div class="content-card">
        <div class="content">
          <!-- <div class="mat-tab-group mat-primary"> -->





          <i class="material-icons"></i> Incident


          <div class="details">
            <h5>Details of Incident</h5>
            <div class="customer">
              <table class="simple">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Company</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div style="align-items: center;     
                        flex-direction: row;
                        box-sizing: border-box;
                        display: flex;
                        max-height: 100%;
                        place-content: center flex-start;">
                        <img class="avatar" src="assets/images/diving.jpg">
                        <span class=" name text-truncate ">Poois Magan</span>
                      </div>
                    </td>
                    <td>
                      <span class="email text-truncate ">lewis@magan.com</span>
                    </td>
                    <td>
                      <span class="phone text-truncate ">+44 7480 181787</span>
                    </td>
                    <td>
                      <span class="company text-truncate ">Airsweb</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h5>Incident Location</h5>
          </div>







        </div>
      </div>
    </div>
  </div>
</div>





<!-- <div class="mat-tab-header-pagination mat-tab-header-pagination-before ">
              <div class="mat-tab-header-pagination-chevron "></div>
            </div> -->

<!-- <div class="mat-tab-label-container ">
              <div class="mat-tab-list " role="tablist " style="transform: translate3d(0px, 0px, 0px); ">


                <div class="mat-tab-labels ">


                  

                  <div class="mat-tab-label ">
                    <div class="mat-tab-label-content ">
                      Details</div>
                  </div>

                  <div class="mat-tab-label ">
                    <div class="mat-tab-label-content ">
                      Investigation</div>
                  </div>



                  <div class="mat-tab-label ">
                    <div class="mat-tab-label-content ">
                      Root Cause</div>
                  </div>
                  <div class="mat-tab-label ">
                    <div class="mat-tab-label-content ">
                      Sign Off</div>
                  </div>
                </div>

              </div>
            </div> -->
<!-- <div class="mat-tab-header-pagination mat-tab-header-pagination-after ">
              <div class="mat-tab-header-pagination-chevron "></div>
            </div> -->
<!-- </div> -->





<!-- <div class="mat-tab-body-wrapper ">
          <div class="mat-tab-body-active ">
            <div class="mat-tab-body-content ">
              <div class="tab-content p-24 ">
                <img src="assets/images/beach.jpg " style="max-width: 640px; width: 100%; ">
                <h5>Words go here</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tortor nibh, convallis sed purus nec,
                  auctor venenatis nisl. Suspendisse potenti. Nullam sagittis nulla in diam finibus, sed pharetra velit vestibulum.
                  Suspendisse euismod in urna eu posuere.</p> -->
<!-- <div class="pb-16 "> -->

<!-- <i class="material-icons secondary-text mr-16 ">account_circle</i>

                <div class="secondary-text ">
                  <h5>Details</h5>
                </div> -->
<!-- </div> -->